            * {
                font-family: 'Roboto', sans-serif;
            }
            
            .btn_Registrarse {
                background-color: #f78828;
                color: white;
                border-color: transparent;
                border-radius: 12px;
                height: 25px;
                width: 113px;
            }
            /* Inicio de estilos del header   */
            
            header {
                height: 80px;
                background-color: white;
            }
            
            #logo {
                width: 101px;
                height: 64px;
                padding: 7px;
                float: left;
            }
            
            #logo img {
                /*   width: 101px;*/
                height: 55px;
            }
            
            header nav {
                padding: 20px;
            }
            
            #btn_Header {
                float: right;
            }
            /* Fin de estilos del header   */
            /* Inicio de estilos del banner_Inicial   */
            
            #banner_Inicial {
                background-color: #687A8F;
                height: 300px;
                display: grid;
                place-items: center;
            }
            
            #banner_Inicial h1 {
                padding-top: 80px;
                font-size: 50px;
            }
            
            .btn_Aplicar_Ahora {
                width: 150px;
                height: 30px;
                font-size: 15px;
                border-color: #f78828;
                color: #f78828;
                border-radius: 12px;
                background-color: transparent;
            }
            /* Fin de estilos del banner_Inicial   */
            /* Inicio de estilos del sct_El_Equipo   */
            
            #sct_El_Equipo {
                background-color: white;
            }
            
            #sct_El_Equipo h2 {
                padding-top: 25px;
                padding-bottom: 5px;
            }
            
            #sct_El_Equipo p {
                padding-bottom: 15px;
            }
            
            .grid-sct_El_Equipo {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                row-gap: 25px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            
            .grid-item {
                display: block;
                text-align: center;
            }
            
            .grid-item img {
                height: 220px;
                place-items: center;
            }
            
            .rol {
                font-size: 20px;
            }
            
            .nombre {
                font-size: 25px;
            }
            /* Fin de estilos del sct_El_Equipo  */
            /* Inicio de estilos del sct_Mision   */
            
            #sct_Mision {
                place-items: center;
                background-color: #DCC7AA;
                color: black;
            }
            
            #sct_Mision h2 {
                padding-top: 35px;
                font-size: 25px;
                padding-bottom: 75px;
                text-align: center;
            }
            
            #sct_Mision ul {
                padding-left: 35px;
                font-size: 20px;
            }
            
            #sct_Mision li {
                padding-bottom: 15px;
            }
            
            .grid_sct_Mision {
                display: grid;
                grid-template-columns: 50% 50%;
            }
            
            .grid_sct_Misionrid-item {
                display: grid;
            }
            
            .grid_sct_Mision img {
                height: 455px;
                width: 100%;
            }
            
            #sct_Mision i {
                font-size: 50px;
                padding-bottom: 13px;
                color: #687A8F;
            }
            
            .grid_icons {
                padding-top: 25px;
                display: grid;
                grid-template-columns: 33% 33% 33%;
                text-align: center;
            }
            
            .grid_icons_items {
                place-items: center;
            }
            
            .grid_icons_items p {
                margin: 33px;
            }
            /* Fin de estilos del sct_Mision   */
            /* Inicio de estilos del sct_Nuestros_Valores   */
            
            #sct_Nuestros_Valores {
                height: 480px;
                background-color: #687A8F;
                color: black;
                text-align: center;
            }
            
            .grid_sct_Nuestros_Valores {
                display: grid;
                grid-template-columns: 50% 50%;
                place-items: center;
            }
            
            .grid_sct_Nuestros_Valores_item {
                width: 40%;
            }
            
            #sct_Nuestros_Valores h2 {
                font-size: 25px;
                padding-top: 50px;
                padding-bottom: 25px;
            }
            
            #sct_Nuestros_Valores h3 {
                font-size: 20px;
                padding-bottom: 40px;
            }
            
            #sct_Nuestros_Valores p {
                padding-bottom: 40px;
            }
            /* Fin de estilos del sct_Nuestros_Valores   */
            /* Inicio de estilos del sct_Registrarse   */
            
            #sct_Registrarse {
                height: 250px;
                background-color: #f7c331;
                display: grid;
                place-items: center;
            }
            
            #sct_Registrarse h2 {
                font-size: 25px;
            }
            
            #sct_Registrarse input {
                width: 500px;
            }
            /* Fin de estilos del sct_Registrarse   */
            /* Inicio de estilos del footer   */
            
            footer {
                background-color: #687A8F;
                height: 45px;
            }
            
            footer p {
                width: 50%;
                float: left;
                padding-left: 50px;
                padding-top: 25px;
            }
            
            footer a {
                font-size: 25px;
                color: #DCC7AA;
                margin: 10px;
                float: right;
            }
            /* Fin de estilos del footer   */